@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);;
}

.container {
    position: relative;
    max-width: 370px;
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.container header {
    font-size: 22px;
    font-weight: 600;
    color: #333;
}

.container form {
    margin-top: 30px;
}

form .field {
   margin-bottom: 20px;
}

form .input-field {
    position: relative;
    height: 55px;
    width: 100%;
}

.input-field input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0 15px;
    border: 1px solid #d1d1d1;
}

.invalid input {
    border-color: #d93025;
}

.input-field .show-hide {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #919191;
    cursor: pointer;
    padding: 3px;
}

.field .error {
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #d93025;
    font-size: 13px;
    display: none;
}

.invalid .error {
    display: flex;
}

.error .error-icon {
    margin-right: 6px;
    font-size: 15px;
}

.create-password .error {
    align-items: flex-start;
}

.create-password .error-icon {
    margin-top: 4px;
}

.button {
    margin: 25px 0 6px;
}

.button input {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    background: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
}